html {
  --bg-color: #282c34;
  --text-color: #ffffff;
  --bit-color: #505050;
  --bit-active-color: #61dafb;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, auto);
}

.header {
  font-size: 5vmin;
  grid-column: span 2;
}

.separator {
  display: flex;
  align-self: flex-end;
  grid-row: span 2;
  font-size: 6vmin;
  margin-bottom: 4.5vmin;
}

.bit {
  width: 12vmin;
  height: 14vmin;
  margin: 2vmin;
  background-color: var(--bit-color);
  border-radius: 0.75vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
  transition: 0.5s;
  color: var(--bg-color);
  font-weight: bold;
}

.active {
  background-color: var(--bit-active-color);
}

.time-label-big {
  font-size: 6vmin;
}

.time-label-small {
  font-size: 3vmin;
}