body {
  margin: 0;
  background-color: #282c34;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container-major {
  display: flex;
  flex-direction: row;
}

.container-minor {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto;
}

.container-header {
  grid-column: span 2;
  margin-bottom: 10px;
}

.bar {
  width: 5rem;
  height: 6rem;
  background-color: grey;
  border-radius: 0.25rem;
  margin: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: 0.5s;
}

.active {
  background-color: #61dafb;
}
